@page "/"

<PageTitle>Text To Mp3</PageTitle>

<h1>Text To Mp3</h1>

Turn your document into an mp3 audio file.

<form>
    <div>
    <label>Insert a title for your new file</label>
    <input type="text" @/>
    </div>

    <div>
    <label></label>
    <input type="file" @/>
    </div>

    <button type="submit">Submit</button>
</form>