@page "/"
@rendermode InteractiveServer

@using System.Speech.Synthesis;
@using Aspose.Words;
@using NAudio.Lame;
@using NAudio.Wave;

<PageTitle>Text To Mp3</PageTitle>

<h1>Text To Mp3</h1>

<h5>Turn your document into an mp3 audio file.</h5>

<div>
    <EditForm Model="Model" OnSubmit="DownloadAudio" FormName="tts-form">

        <label>Please type a name for your new audio file: </label>
        <InputText placeholder="your audio" @bind-Value="Model!.OutputFile"></InputText>

        <div>
            <label name="docx">Please select the docx file you want to convert to audio: </label>
            <InputFile OnChange="GetInputFileName"/>
        </div>

        <button type="submit">Submit</button>
    </EditForm>
</div>

<p>Your file @Model!.InputFile will be downloaded as "@Model.OutputFile".mp3</p>

