@page "/"
@using System.Speech.Synthesis
@rendermode InteractiveServer

<PageTitle>Text To Mp3</PageTitle>

<div class="container d-flex flex-column align-items-center" id="main-container">

    <div class="row" id="titles">
        <div class="col">
            <div>
                <h1>Text To Mp3</h1>
                <h4>Turn your document into an mp3 audio file</h4>
            </div>
        </div>

    </div>

    <div class="row" id="form">
        <div class="col">
            <EditForm Model="Model" OnSubmit="DownloadAudio" FormName="tts-form">
                <div>
                    <label class="form-label">Please type a name for your new audio file: </label>
                    <InputText placeholder="your audio" class="form-control" @bind-Value="Model!.OutputFile">
                    </InputText>
                </div>

                <div>
                    <label name="docx" class="form-label">Please select the docx file you want to convert to
                        audio:
                    </label>
                    <InputFile OnChange="GetInputFileName" class="form-control" />
                </div>

                <div>
                    <label name="voice" class="form-label">Language and Voice:
                    </label>
                    <InputSelect class="form-select" @bind-Value="Model!.Voice">
                        @using (SpeechSynthesizer synth = new SpeechSynthesizer())
                            @foreach (InstalledVoice voice in synth.GetInstalledVoices())
                            {
                                <option value="@voice.VoiceInfo.Name">@voice.VoiceInfo.Name (@voice.VoiceInfo.Culture)
                                </option>
                            }
                    </InputSelect>
                </div>

                <div class="d-flex flex-row justify-content-center align-items-center" id="submit-section">
                    <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>

                    <p id="recap">Your file "@Model!.InputFile" will be downloaded as "@(Model.OutputFile + ".mp3")"</p>
                </div>
            </EditForm>
        </div>
    </div>

    <div class="row" id="loading">
        <div class="col">
            Loading to be added here.
        </div>
    </div>

</div>